<%-  include('template/header')%>
<%-  include('template/left')%>
<div class="admin">
    <div class="panel admin-panel">
        <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 网站信息</strong></div>
        <div class="body-content">
            <img src="" alt="">
        </div>
    </div>
</div>